/* FOOTER */

footer#footer_site {
	h2 {
	    font: normal normal bold 0.88em MiloWeb, Verdana, Geneva, sans-serif;
	    text-transform: uppercase;
	    text-align: center;
	    color: #333;
  	}
	.footer-logo { //specific to zen layout structure
		margin: 0 auto 40px;
		margin: 0 auto 2.5rem;
		max-width: 400px;
		img { max-height:100px;	}
	}
	> .container { 
		border-bottom: 1px solid #8E8C85;
		position: relative;
		padding: 0 0 16px;
		padding: 0 0 1rem;
	}
	ul.menu {
	  display: block;
	  margin: 0;
	  padding: 16px 0 0;
	  padding: 1rem 0 0;
	  text-align: center;
	  float: none;
	  	&:after {
	  		content: "\0020";
	  		display: block;
	  		clear: both;
	  	}
		> li {
		  display: inline-block;
		  list-style: none;
		  padding: 0 12px;
		  padding: 0 .75rem;
		  border-right: 1px solid #a8a69d;
		}
		> li.last {
		  border-right: 0;
		}
	}
	.column-menu {
	  	display: block;
	    padding-top: 24px;
	    padding-top: 1.5rem;
	    border-top: 1px solid #a8a69d;
	    &:first-child { border-top: 0 none; }
	  	ul.menu li {
	  			display: block;
	  			float: none;
	  			border: 0 none;
	        padding: 0;
	        margin-bottom: 11px;
	  			margin-bottom: 0.7rem;
	        line-height: 1.2;
	        a, a:link, a:visited {
	          text-decoration: none;
	          font-weight: normal;
	        }
	        a:focus, a:hover, a:active {
	          color: #2A6496;
	        }
	  	}
	}

	#footer_sub .container {
		padding-top: 8px;
		padding-top: 0.5rem;
		> * { //reduce font size without affecting container width
			font-size: 15px;
  			font-size: 0.96rem; // 15.36/16px
		}
		p { text-align: center; }
	}
}

@media (min-width: 48em) {
	footer#footer_site {
		.footer-content { clear: both; }
		.column-menu {
			display: inline-block;
			vertical-align: top;
	    	border: 0 none;
			width: 49%;
		    h2 {
		      	text-align: left;
		     	padding: 0 32px;
		      	padding: 0 2rem; }
				ul.menu {
		      		padding: 16px 32px 0;
		      		padding: 1rem 2rem 0;
					text-align: left; }
		}
	}
}

@media (min-width: 60em) {
  footer#footer_site {
  	ul.menu { float: right; }
  	.footer-logo { //specific to zen layout structure
	    float: left;
	    margin: 0 16px 16px 0;
	    margin: 0 1rem 1rem 0;
  	}
  	.footer-content { 
  		clear: none;
  		text-align: right; //makes column menus go to the right
  	}
	.column-menu {
	    position: relative;
	    padding: 0 0 0 16px;
	    padding: 0 0 0 1rem;
		margin: 0 0 0 16px;
		margin: 0 0 0 1rem;
    	border-top: 0 none;
		border-left: 1px solid #a8a69d;
		display: inline-block;
		vertical-align: top;
    	min-height: 16em;
		max-width: 14.5%; //approx. 1/4 of left-over space (730px/4)
	    h2 { padding: 0; }
	    ul.menu {
	      width: 100%;
	      padding: 16px 0;
	      padding: 1rem 0;
	      a {
	        font-size: 14px;
	        font-size: 0.875rem;
      		}
   		}
  	}
  }
  #footer_sub .container p { text-align: left; }
}

@media (min-width:60em) and (max-width: 75em) {
	footer#footer_site .footer-logo {
		max-width: 300px;
	}
}